.content-wrapper {
    flex-grow: 1;
    width: 76.4%;
    position: relative;

    padding: 15px 15px 15px 15px;

    background-color: #ecf0f5;

    height: auto;
    min-height: 100%;
}

.content {
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}