.flex {
    display: flex;
}

.flex_w {
    flex-wrap: wrap;
}

.flex_jc-sb {
    justify-content: space-between;
}

.flex_jc-fe {
    justify-content: flex-end;
}

.flex_jc-fs {
    justify-content: flex-start;
}

.flex_ai-c {
    align-items: center;
}