.main-sidebar {
    width: 13.6%;

    background-color: #222d32;

    height: auto;
    min-height: 100%;
}

//ul
.nav {
    //li
    
    &-item {
        position: relative;

        &.active > a {
            background-color: lighten($color: #222d32, $amount: 10);
        }
    }
    //a
    &-link {
        display: block;

        padding: 15px 5px 15px 20px;
        color: $gray;
        
        transition: $tr;

        &:hover {
            color: #ffffff;
            background: #1e282c;
        }

    }
}

.submenu-toggle {
    position: absolute;
    
    right: 20px;
    top: 11px;
    width: 30px;
    height: 30px;

    transform: rotate(0deg);

    text-align: center;
    line-height: 30px;

    color: #fff;
    cursor: pointer;

    transition: $tr;

    &-active {
        transform: rotate(45deg);
    }
}

.nav-submenu {
    display: none;
    user-select: none;

    &-show {
        display: block;
    }

    .nav-item a {
        padding-left: 40px;
    }
}