.main-sidebar {
    width: 250px;

    background-color: #222d32;

    height: auto;
    min-height: 100%;
}

//ul
.nav {
    //li
    &-item {

    }
    //a
    &-link {
        display: block;

        padding: 15px 5px 15px 20px;
        color: $gray;
        
        transition: $tr;

        &:hover {
            color: #ffffff;
            background: #1e282c;
        }

    }
}